<h1><%= @team.team_name %></h1>

<ul>
    <% @team.players.each do |player| %>
        <li>
            <%= player.name %> - This weeks points: <%= if player.week_stats.exists? 
            player.week_stats.order("week").last.points 
            end%>
        </li>
    <% end %>
</ul>
